@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Insert";
}

@model WebApp.ViewModel.InsertVM
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Insert Information</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 500px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow-y: auto;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input[type="text"] {
            width: 100%; /* Adjust width as needed */
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="date"] {
            width: 100%; /* Adjust width as needed */
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }


        input[type="submit"] {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
            margin-top: 10px;
            position:relative;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }


        .textdanger {
            color: #ffe0d9;
            font-size: medium;
            font:bolder;
            font-stretch:expanded;
            text-align:right;
        }
    </style>
</head>
<body>
    

    <div class="container">
        <h1>Insert</h1>
        <form asp-controller="Insert" asp-action="Insert" method="post">
            <label for="orderid">Order ID</label>
            <input asp-for="orderid" type="text" />
            <span asp-validation-for="@Model.orderid" class="textdanger"></span>

            <label for="prodid">Product ID</label>
            <input asp-for="ProductId" type="text"/>
            <span asp-validation-for="@Model.ProductId" class="textdanger"></span>

            <label for="userid">User ID</label>
            <input asp-for="UserId" type="text"/>
            <span asp-validation-for="@Model.UserId" class="textdanger"></span>

            <label for="orderdate">Order Date</label>
            <input asp-for="orderdate" type="date" />
            <span asp-validation-for="@Model.orderdate" class="textdanger"></span>
            <h3 class="textdanger" style="padding:3px; font-size:15px">@ViewBag.dateMessage</h3>

            <input id="insertButton" type="submit" value="Submit" />
            
        </form>
    </div>
    <h3 class="textdanger" style="text-align:right; padding:3px; margin-top:5px; font-size:15px;">@ViewBag.Message</h3>
    

</body>
</html>


